.container {
  display: flex;
  height: 100vh;
  background-color: #18181A;
  color: white;
  font-family: sans-serif;
}

.mainContent {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}
